/*================ Custom CSS=============== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section,
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

/*=================== navbar ==================== */
.navbar {
  height: 100px;
  padding: 15px 0;
  background-color: #0000009a;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navbar .container .logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container .logo img {
  width: 100%;
}
.navbar .container .nav-menu {
  display: flex;
  width: 65%;
  justify-content: end;
}
.navbar .container .nav-menu ul {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.navbar .container .nav-menu ul li a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.navbar .container .reserv-btn a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #b57c33;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.navbar .container .reserv-btn a:hover {
  color: #b57c33;
  background-color: #fff;
}
.navbar .container .reserv-btn .ico {
  display: none;
}

/*=================== banner section ===================== */
.banner {
  min-height: 800px;
  background: url(../IMG/banner-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container .row {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.banner .container .row h1 {
  font-size: 68px;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 15px;
  margin-bottom: 10px;
}
.banner .container .row a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #b57c33;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 21px;
  transition: all 0.3s ease-in-out;
}
.banner .container .row a:hover {
  color: #b57c33;
  background-color: #fff;
}

/*================ about us section ================= */
.about-us {
  min-height: 681px;
  background-color: #101a1e;
}
.about-us .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .container .row {
  flex-direction: column;
  width: 53%;
}
.about-us .container .row .sm-head {
  font-size: 38px;
  color: #b57c33;
  font-family: "Meow Script", cursive;
}
.about-us .container .row h2 {
  font-size: 38px;
  color: #fff8ee;
  font-weight: normal;
  text-align: center;
}
.about-us .container .row p {
  font-size: 18px;
  color: #fff8ee;
  text-align: center;
  line-height: 32px;
  padding: 35px 0;
  font-family: "Roboto", sans-serif;
}
.about-us .container .row a {
  text-transform: uppercase;
  color: #fff8ee;
  border: 1px solid #fff8ee;
  padding: 10px 35px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}
.about-us .container .row a:hover {
  background-color: #fff;
  color: #101a1e;
}

/*=================== menu section =================== */
.menu {
  height: 1043px;
  background-color: #101a1e;
}
.menu .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .container .row {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}
.menu .container .row .row-content {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  padding-bottom: 80px;
}
.menu .container .row .row-content figure {
  overflow: hidden;
}
.menu .container .row .row-content figure img {
  transition: all 0.3s ease;
}
.menu .container .row .row-content figure img:hover {
  transform: scale(1.2);
}
.menu .container .row .row-content .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 38%;
  height: 100%;
}
.menu .container .row .row-content .content .sm-head {
  font-size: 38px;
  color: #b57c33;
  font-family: "Meow Script", cursive;
}
.menu .container .row .row-content .content h2 {
  color: #fff8ee;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 300;
}
.menu .container .row .row-content .content p {
  font-size: 18px;
  color: #fff8ee;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
}
.menu .container .row .row-content .content .btns {
  display: flex;
  justify-content: space-between;
  width: 72%;
}
.menu .container .row .row-content .content .btns a {
  font-size: 16px;
  color: #fff8ee;
  text-transform: uppercase;
  border: 1px solid #fff8ee;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}
.menu .container .row .row-content .content .btns a:hover {
  color: #101a1e;
  background-color: #fff8ee;
}
.menu .container .row .row-content .content .btns .active {
  font-size: 16px;
  color: #fff8ee;
  background-color: #b57c33;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: "Roboto Condensed", sans-serif;
}
.menu .container .row #row-2 {
  flex-direction: row-reverse;
}
.menu .container .row .section-line {
  max-width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  overflow: hidden;
}

/*============== catering section ================ */
.catering {
  min-height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../IMG/catering-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.catering .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catering .container .row {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.catering .container .row h2 {
  font-size: 68px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.catering .container .row h2 span {
  display: block;
}
.catering .container .row a {
  font-family: "Roboto", sans-serif;
  color: #fff8ee;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff8ee;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.catering .container .row a:hover {
  background-color: #fff8ee;
  color: #101a1e;
}

/*================= quote section =============== */
.quote {
  min-height: 512px;
  background-color: #101a1e;
}
.quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.quote .container .row {
  flex-direction: column;
  height: 100%;
  width: 45%;
}
.quote .container .row .top-frame {
  width: 100%;
  margin-bottom: 30px;
}
.quote .container .row .top-frame figure {
  width: 100%;
}
.quote .container .row .top-frame figure img {
  width: 100%;
}
.quote .container .row p {
  font-family: "Merriweather", serif;
  font-size: 25px;
  color: #fff8ee;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  line-height: 50px;
}

/*=============== booking section =============== */
.booking {
  height: 884px;
  background: url(../IMG/booking-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #101a1e;
}
.booking .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.booking .container .row {
  flex-direction: column;
  align-items: start;
  width: 37%;
  height: 53%;
  justify-content: space-evenly;
  padding-left: 100px;
}
.booking .container .row h2 {
  font-size: 38px;
  font-weight: 300;
  color: #b57c33;
}
.booking .container .row .head {
  font-size: 28px;
  color: #fff8ee;
  font-family: "Roboto", sans-serif;
}
.booking .container .row .content {
  display: flex;
  flex-direction: column;
}
.booking .container .row .content .content-head {
  font-size: 16px;
  color: #fff8ee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
}
.booking .container .row .content .body {
  font-size: 16px;
  color: #fff8ee;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.booking .container .row a {
  font-size: "Roboto Condensed", sans-serif;
  color: #fff8ee;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #b57c33;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.booking .container .row a:hover {
  color: #b57c33;
  background-color: #fff8ee;
}

/*=================== footer ================ */
.footer {
  height: 54px;
  background-color: #101a1e;
}
.footer .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container .row {
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
.footer .container .row p {
  font-size: 14px;
  color: #fff8ee;
  font-family: "DM Sans", sans-serif;
}
.footer .container .row a {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #fff8ee;
  font-weight: 600;
}
